:root {
    --font-family-poppins: "Poppins", sans-serif;
    --font-family-grotesk: "Space Grotesk", sans-serif;
    --main-color: #f3b01b;
    --white: #fff;
    --white-smoke: #ddd;
    --main-dark-color: #1e282d;
    --card-color: #98c1d9;
    --dark: #111;
    --title: clamp(18px, 2vw, 25px);
    --menuHeight: 50px;
    --text-color-dark: #111;
    scroll-behavior: smooth;
    --app-width: 1040px;
    --body-bg-color: #eee;
}

::selection {
    background-color: var(--main-color);
    color: var(--white);
}

.section {
    width: 100%;
    min-height: calc(100vh - var(--menuHeight));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: var(--font-family-poppins);
}

.content {
    padding-top: var(--menuHeight);
    width: 100%;
    background-color: var(--body-bg-color);
    z-index: 99;
}

.container {
    max-width: var(--app-width);
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--body-bg-color);
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mx-auto {
    margin-left: auto;
}

.mb-footer {
    margin-bottom: 380px;
}
