.main {
    display: flex;
    justify-content: space-between;
    background-color: var(--body-bg-color);
    scroll-snap-align: center;
}

.main_left {
    position: relative;
    flex-basis: 50%;
    height: 100vh;

    & video,
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.main_right {
    flex-basis: 50%;
    display: flex;
    position: relative;
    height: 100vh;
    background-color: var(--main-dark-color);

    & h2 {
        color: var(--main-color);
        text-align: start;
    }

    & p {
        text-align: start;
    }
}

.main:nth-child(2n) {
    flex-direction: row-reverse;

    & .about {
        left: 14rem;
        align-items: end;
        z-index: 5;
        width: 100%;

        & p {
            text-align: end;
        }
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    row-gap: 1rem;
    top: 50%;
    left: -10rem;
    transform: translateY(-50%);
    max-width: 800px;
    min-height: 400px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--main-dark-color);
    opacity: 0.8;

    & p {
        color: var(--white);
    }
}

.btn button {
    opacity: 0;
}

.main_left:hover .btn button {
    opacity: 0.5;
}

.main_left .btn button:hover {
    opacity: 1;
}

@media (max-width: 980px) {
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .main:nth-child(2n) {
        flex-direction: column;
        .about {
            left: 0;
            align-items: center;

            & p {
                text-align: center;
            }
        }
    }

    .main_left {
        height: 50vh;
        width: 100%;
        background-color: var(--main-dark-color);
    }

    .main_right {
        width: 100%;
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about {
        left: 0;
        right: 0;
        justify-content: flex-start;
        & h2 {
            text-align: start;
            font-size: 16px;
        }

        & p {
            font-size: 14px;
            text-align: start !important;
        }
    }
}
